<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="luce.birra"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
  
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!-- -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="luce.birra.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="luce.birra.ProdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СПРАВОЧНИК ТОВАРОВ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.PgrActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СПРАВОЧНИК ТИПОВ ТОВАРОВ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.PgrEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СОЗДАНИЕ НОВОГО ТИПА ТОВАРА"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.ProdEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СОЗДАНИЕ НОВОГО ТОВАРА"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.PrixodActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ПОСТУПЛЕНИЕ НОВОГО ТОВАРА"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.PostavActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СПРАВОЧНИК ПОСТАВЩИКОВ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.PostavEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СОЗДАНИЕ НОВОГО ПОСТАВЩИКА"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.PrixodHistActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ИСТОРИЯ ПОСТАВОК"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.RasxodHistActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ИСТОРИЯ ПРОДАЖ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.OstatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ТОВАР В НАЛИЧИИ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.RasxodActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ПРОДАЖА"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.OborotkaActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ОБОРОТНАЯ ВЕДОМОСТЬ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.OtchetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ОТЧЕТЫ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.DelOtchetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ОТЧЕТЫ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.SettingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="НАСТРОЙКИ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.SettingAllActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="НАСТРОЙКИ"
            android:screenOrientation="landscape" />
                <activity
            android:name="luce.birra.SprActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СПРАВОЧНИКИ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.KlientActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СПРАВОЧНИК КЛИЕНТОВ"
            android:screenOrientation="landscape" />
        <activity
            android:name="luce.birra.KlientEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="НОВЫЙ КЛИЕНТ"
            android:screenOrientation="landscape" />
                <activity
            android:name="luce.birra.RasxodOstatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="РАСХОД И ОСТАТОК"
            android:screenOrientation="landscape" />
                                <activity
            android:name="luce.birra.UserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СПРАВОЧНИК ПОЛЬЗОВАТЕЛЕЙ"
            android:screenOrientation="landscape" />
                                                <activity
            android:name="luce.birra.UserEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="НОВЫЙ ПОЛЬЗОВАТЕЛЬ"
            android:screenOrientation="landscape" />
                                                <activity
            android:name="luce.birra.PriceActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="СПРАВОЧНИК ЦЕН"
            android:screenOrientation="landscape" />
                                                <activity
            android:name="luce.birra.CheckActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ЧЕКИ"
            android:screenOrientation="landscape" />
                                                <activity
            android:name="luce.birra.DvigActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ДВИЖЕНИЕ"
            android:screenOrientation="landscape" />
                                                <activity
            android:name="luce.birra.InvActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="ИНВЕНТАРИЗАЦИЯ"
            android:screenOrientation="landscape" />
                                                <activity
            android:name="luce.birra.InvHeadActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:label="НОВАЯ ИНВЕНТАРИЗАЦИЯ"
            android:screenOrientation="landscape" />
    </application>

</manifest>